@charset "UTF-8";
:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --white-color: #fff;
  --focus-hover-color: #2196F3;
  --background-color: #2F303A;
  --button-grey: #F5F4FA;
  --accent-color: #2196f3;
  --secondary-font-title: "Raleway", sans-serif;
  --primary-font-title: "Roboto", sans-serif;
  --secondary-background-color: #f5f4fa;
  --header-footer-background-color: #2f303a;
  --grey-icons-AFB1B8: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--white-color);
}

.container {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: var(--secondary-font-title);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196F3;
}
.logo__text-black {
  color: black;
}
.logo__text-white {
  color: white;
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  font-style: inherit;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.section__title_margin-bottom {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title_margin-bottom {
    margin-bottom: 50px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding-right: 24px;
  padding-left: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .overlay {
    padding-top: 49px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.projects-list-link:hover .overlay, .projects-list-link:focus .overlay {
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    line-height: 0;
  }
  .mobile-menu__close-btn:hover {
    color: var(--focus-hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-icon {
    fill: currentColor;
  }
  .mobile-menu__nav-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
    color: var(--focus-hover-color);
  }
  юmobile-menu__communications {
    display: block;
    box-sizing: border-box;
  }
  .mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__nav-link:current {
    color: var(--accent-color);
  }
  .current-link {
    color: var(--accent-color);
  }
  .mobile-menu__contacts {
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contacts-link_tel {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu__contacts-link_email {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu__social-list {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-menu__social-item:not(:last-child) {
    padding-right: 10px;
  }
  .mobile-menu__social-item:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__social-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .what-we-do-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do-section {
    padding-top: 0;
  }
}

@media screen and (max-width: 1199px) {
  .section_padding-top {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section_padding-top {
    padding-top: 0;
  }
}

.section_bg-color {
  background-color: #F5F4FA;
}

@media screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }
  .contacts {
    display: none;
  }
  .mobile-menu__open-btn {
    background-color: transparent;
    line-height: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobile-menu__open-btn:hover {
    color: var(--focus-hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__open-icon {
    fill: currentColor;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .mobile-menu__open-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 88px;
  }
  .nav-links-item + .nav-links-item {
    margin-left: 50px;
  }
  .contacts-item-email {
    margin-bottom: 10px;
  }
  .nav-links-link,
.contacts-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-links-link:hover, .nav-links-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--focus-hover-color);
  }
  .contacts-link {
    color: var(--secondary-color);
    gap: 10px;
  }
  .header-contacts-svg {
    fill: currentColor;
  }
  .nav-links-item {
    position: relative;
  }
  .nav-links-link {
    padding: 32px 0;
  }
  .nav-links-item:current {
    color: var(--accent-color);
  }
  .current-link {
    color: var(--accent-color);
  }
  .current-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .contacts-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.hero__title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-family: "Roboto";
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
  }
}

.hero-section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--header-footer-background-color);
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-1600@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .studio-about__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.studio-about__item h3 {
  font-weight: 700;
  line-height: 1.14;
  font-size: inherit;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.studio-about__info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;
  border-radius: 4px;
  background-color: rgb(245, 244, 250);
}

@media screen and (max-width: 767px) {
  .studio-about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .studio-about__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .studio-about__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.studio-about__title {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .studio-about__title {
    text-align: center;
  }
}

.studio-about__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.what-we-do-section {
  background-color: var(--white-color);
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list-item {
  width: 370px;
  mix-blend-mode: normal;
}
.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-img-wrapper {
  position: relative;
}

.what-we-do-img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list-item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.description-team {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .description-team {
    padding-bottom: 30px;
  }
}

.team-position {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  color: var(--grey-icons-AFB1B8);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-list-link:hover, .team-social-list-link:focus {
  background-color: var(--focus-hover-color);
  color: var(--white-color);
}

.team-list-svg {
  fill: currentColor;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.clients-list__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--white-color);
  border: 1px solid var(--grey-icons-AFB1B8);
  color: var(--grey-icons-AFB1B8);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--focus-hover-color);
  color: var(--focus-hover-color);
}

.clients-list__icon-svg {
  fill: currentColor;
}

.footer {
  background-color: var(--header-footer-background-color);
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-social {
    text-align: center;
  }
}

.address-list__map {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .footer-social {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-thumb {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-thumb {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-thumb {
    display: flex;
    align-items: baseline;
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .address-container {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .address-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .address-container {
    display: inline-block;
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .address-list__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts-list-link-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-list-link-footer:hover, .contacts-list-link-footer:focus {
  color: var(--focus-hover-color);
}

.footer-social-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--focus-hover-color);
}

.footer-list-svg {
  fill: currentColor;
}

@media screen and (max-width: 479px) {
  .subscribe-form {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscribe-form {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    width: 570px;
  }
}

.subscribe-form__desc {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  align-items: baseline;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .subscribe-form__desc {
    text-align: center;
  }
}

.subscribe-fild {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe-fild {
    display: flex;
  }
}

.subscribe-form__desc {
  margin-bottom: 20px;
}

.subscription-form-input {
  width: 100%;
  padding: 15px 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--header-footer-background-color);
}
@media screen and (max-width: 1199px) {
  .subscription-form-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form-input {
    margin-right: 12px;
  }
}
.subscription-form-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form-submit-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  position: relative;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  font-style: inherit;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-right: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .subscription-form-submit-btn {
    margin: 0 auto;
  }
}
.subscription-form-submit-btn:hover, .subscription-form-submit-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-list-svg-send {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.button-filter-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .button-filter-list {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .button-filter-list_margin-b {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .button-filter-list_margin-b {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-filter-list_margin-b {
    margin-bottom: 50px;
  }
}

.filter-list__btn {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63em;
  text-align: center;
  border-radius: 4px;
  letter-spacing: inherit;
  color: inherit;
  background: var(--secondary-background-color);
  border-radius: 4px;
  height: 38px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.description-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-color);
}

.description-subtitle {
  font-size: 16px;
  line-height: 1.88em;
  color: var(--secondary-color);
}

.description-projects {
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.projects-list-item {
  background-color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .projects-list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects-list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.projects-list-link {
  display: flex;
  height: 100%;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list-link:hover, .projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.description-projects {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  flex-grow: 1;
}

.no-gap {
  display: block;
}

.projects-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 100%;
  padding: 40px;
  max-height: 609px;
  background-color: var(--white-color);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: var(--primary-color);
  padding: 0;
  cursor: pointer;
}
.modal-close-btn:hover {
  color: var(--focus-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-input-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--focus-hover-color);
  color: var(--primary-color);
}
.contact-form-input:focus {
  outline: none;
  border: 1px solid var(--focus-hover-color);
}
.contact-form-input:focus + .contact-form-input-svg {
  fill: var(--focus-hover-color);
}

.contact-form-input-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
}

.contact-form-message {
  width: 100%;
  height: 138px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.contact-form-message::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-message:focus {
  outline: none;
  border: 1px solid var(--focus-hover-color);
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .contact-form-checkbox-label {
    font-size: 14px;
    line-height: 24px;
  }
}
.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  content: "";
  cursor: pointer;
  margin-right: 7px;
}
.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border-color: var(--accent-color);
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-color: var(--focus-hover-color);
  background-image: url(../images/icon-check.svg);
  border: none;
}

.contact-form-policy-linc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .contact-form-policy-linc {
    font-size: 14px;
    line-height: 24px;
  }
}
.contact-form-policy-linc:hover {
  text-decoration-line: none;
}

.contact-form-checkbox-wrapper {
  padding-bottom: 30px;
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  font-style: inherit;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */